# Server Configuration
PORT=5000

# MongoDB Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/urlshortener

# Base URL for generating short links
BASE_URL=https://your-backend.onrender.com

# Client URL for CORS
CLIENT_URL=https://your-frontend.vercel.app
